<section>
  <div class="ml-64">
    <section class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-2xl px-4 py-8 lg:py-16">
        <div class="mb-6 flex justify-between">
          <h1 class="text-xl font-semibold font-headingfont text-black">
            Customer Information
          </h1>
          <button routerLink="/home/listcustomer">
            <svg
              class="h-8 w-8 rounded-lg bg-gray-100 p-1 text-gray-600 transition-all duration-500 hover:bg-red-600 hover:text-white dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                class=""
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18 17.94 6M18 18 6.06 6"
              />
            </svg>
          </button>
        </div>
        <form [formGroup]="addcustomerForm">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="sm:col-span-2">
              <label for="name" class="label font-contentFont"
                >Customer Name</label
              >
              <input
                type="text"
                formControlName="customerName"
                class="input-text"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('customerName')?.hasError('pattern') &&
                  addcustomerForm.get('customerName')?.touched
                "
                >Name should be in Characters!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('customerName')?.hasError('required') &&
                  addcustomerForm.get('customerName')?.touched
                "
                >Name is required!</small
              >
            </div>
            <div class="sm:col-span-2">
              <label for="name" class="label font-contentFont"
                >Contact Person Name</label
              >
              <input
                type="text"
                formControlName="contactPerson"
                class="input-text"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('contactPerson')?.hasError('pattern') &&
                  addcustomerForm.get('contactPerson')?.touched
                "
                >Name should be in Characters!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('contactPerson')?.hasError('required') &&
                  addcustomerForm.get('contactPerson')?.touched
                "
                >Contact Person Name is required!</small
              >
            </div>
            <div class="w-full">
              <label for="brand" class="label font-contentFont"
                >Contact Person Mobile Number</label
              >
              <input
                type="text"
                formControlName="contactPhone"
                class="input-text"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('contactPhone')?.hasError('pattern') &&
                  addcustomerForm.get('contactPhone')?.touched
                "
                >Invalid Phone Number pattern!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('contactPhone')?.hasError('required') &&
                  addcustomerForm.get('contactPhone')?.touched
                "
                >Phone Number is required!</small
              >
            </div>
            <div class="w-full">
              <label for="brand" class="label font-contentFont"
                >Contact Person Email</label
              >
              <input
                type="text"
                formControlName="contactEmail"
                class="input-text"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('contactEmail')?.hasError('pattern') &&
                  addcustomerForm.get('contactEmail')?.touched
                "
                >Invalid Email pattern!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('contactEmail')?.hasError('required') &&
                  addcustomerForm.get('contactEmail')?.touched
                "
                >Email is required!</small
              >
            </div>
            <div class="sm:col-span-2">
              <label for="name" class="label font-contentFont"
                >GST Number</label
              >
              <input
                type="text"
                formControlName="customerGst"
                class="input-text"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('customerGst')?.hasError('pattern') &&
                  addcustomerForm.get('customerGst')?.touched
                "
                >Invalid GST pattern! (Use Capital Letters)</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcustomerForm.get('customerGst')?.hasError('required') &&
                  addcustomerForm.get('customerGst')?.touched
                "
                >GST No is required!</small
              >
            </div>
          </div>
          <h2
            class="mb-4 mt-10 text-xl font-bold text-gray-900 dark:text-white font-headingfont"
          >
            Billing Address
          </h2>
          <div formArrayName="addresses">
            <div *ngFor="let address of addresses.controls; let i = index">
              <div [formGroupName]="i">
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                  <div class="sm:col-span-2">
                    <label for="name" class="label font-contentFont"
                      >Address1</label
                    >
                    <input
                      type="text"
                      formControlName="billingAddress1"
                      class="input-text"
                      placeholder=""
                      required=""
                    />

                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('billingAddress1')
                          ?.hasError('required') &&
                        addcustomerForm.get('billingAddress1')?.touched
                      "
                      >Address1 is required!</small
                    >
                  </div>
                  <div class="sm:col-span-2">
                    <label for="name" class="label font-contentFont"
                      >Address 2</label
                    >
                    <input
                      type="text"
                      formControlName="billingAddress2"
                      class="input-text"
                      placeholder=""
                      required=""
                    />

                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('billingAddress2')
                          ?.hasError('required') &&
                        addcustomerForm.get('billingAddress2')?.touched
                      "
                      >Address2 is required!</small
                    >
                  </div>
                  <div class="w-full">
                    <label for="brand" class="label font-contentFont"
                      >Pincode</label
                    >
                    <input
                      type="text"
                      formControlName="billingPincode"
                      class="input-text"
                      placeholder=""
                      required=""
                    />
                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('billingPincode')
                          ?.hasError('pattern') &&
                        addcustomerForm.get('billingPincode')?.touched
                      "
                      >Invalid PinNumber pattern!</small
                    >
                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('billingPincode')
                          ?.hasError('required') &&
                        addcustomerForm.get('billingPincode')?.touched
                      "
                      >PinNumber is required!</small
                    >
                  </div>
                  <div class="w-full">
                    <label for="brand" class="label font-contentFont"
                      >city</label
                    >
                    <input
                      type="text"
                      formControlName="billingCity"
                      class="input-text"
                      placeholder=""
                      required=""
                    />

                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('billingCity')
                          ?.hasError('required') &&
                        addcustomerForm.get('billingCity')?.touched
                      "
                      >City is required!</small
                    >
                  </div>
                  <div class="w-full">
                    <label for="brand" class="label font-contentFont"
                      >State</label
                    >
                    <input
                      type="text"
                      formControlName="billingState"
                      class="input-text"
                      placeholder=""
                      required=""
                    />

                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('billingState')
                          ?.hasError('required') &&
                        addcustomerForm.get('billingState')?.touched
                      "
                      >State is required!</small
                    >
                  </div>
                </div>

                <div class="mt-4 w-full">
                  <label
                    for="brand"
                    class="mb-2 block text-sm font-headingfont font-medium text-gray-900 dark:text-white"
                    >Shipping Address same as Billing Address
                  </label>

                  <div>
                    <div class="mb-4 flex items-center">
                      <input
                        checked
                        id="default-radio-1"
                        formControlName="statusCode"
                        type="radio"
                        value="200"
                        (change)="onRadioChange('200', i)"
                        class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
                      />
                      <label
                        for="default-radio-1"
                        class="ms-2 font-contentFont text-sm font-medium text-gray-900 dark:text-gray-300"
                        >Yes</label
                      >
                    </div>
                    <div class="flex items-center">
                      <input
                        checked
                        id="default-radio-2"
                        formControlName="statusCode"
                        type="radio"
                        value="400"
                        (change)="onRadioChange('400', i)"
                        class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
                      />
                      <label
                        for="default-radio-2"
                        class="ms-2 font-contentFont text-sm font-medium text-gray-900 dark:text-gray-300"
                        >No</label
                      >
                    </div>
                    <small
                      class="text-red-600"
                      *ngIf="
                        addcustomerForm
                          .get('statusCode')
                          ?.hasError('required') &&
                        addcustomerForm.get('statusCode')?.touched
                      "
                      >Choose any one of this!</small
                    >
                  </div>
                </div>

                <div *ngIf="isShippingEnabled">
                  <h2
                    class="mb-4 mt-10 text-xl font-bold text-gray-900 dark:text-white"
                  >
                    Shipping Address
                  </h2>
                  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="sm:col-span-2">
                      <label
                        for="name"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Address1</label
                      >
                      <input
                        type="text"
                        formControlName="shippingAddress1"
                        class="input-text"
                        placeholder=""
                        required=""
                      />
                      <small
                        class="text-red-600"
                        *ngIf="
                          addcustomerForm
                            .get('shippingAddress1')
                            ?.hasError('required') &&
                          addcustomerForm.get('shippingAddress1')?.touched
                        "
                        >Address1 is required!</small
                      >
                    </div>
                    <div class="sm:col-span-2">
                      <label
                        for="name"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Address 2</label
                      >
                      <input
                        type="text"
                        formControlName="shippingAddress2"
                        class="input-text"
                        placeholder=""
                        required=""
                      />
                      <small
                        class="text-red-600"
                        *ngIf="
                          addcustomerForm
                            .get('shippingAddress2')
                            ?.hasError('required') &&
                          addcustomerForm.get('shippingAddress2')?.touched
                        "
                        >Address2 is required!</small
                      >
                    </div>
                    <div class="w-full">
                      <label
                        for="brand"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >city</label
                      >
                      <input
                        type="text"
                        formControlName="shippingCity"
                        class="input-text"
                        placeholder=""
                        required=""
                      />
                      <small
                        class="text-red-600"
                        *ngIf="
                          addcustomerForm
                            .get('shippingCity')
                            ?.hasError('required') &&
                          addcustomerForm.get('shippingCity')?.touched
                        "
                        >City is required!</small
                      >
                    </div>
                    <div class="w-full">
                      <label
                        for="brand"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >State</label
                      >
                      <input
                        type="text"
                        formControlName="shippingState"
                        class="input-text"
                        placeholder=""
                        required=""
                      />
                      <small
                        class="text-red-600"
                        *ngIf="
                          addcustomerForm
                            .get('shippingState')
                            ?.hasError('required') &&
                          addcustomerForm.get('shippingState')?.touched
                        "
                        >State is required!</small
                      >
                    </div>
                    <div class="w-full">
                      <label
                        for="brand"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Pincode</label
                      >
                      <input
                        type="text"
                        formControlName="shippingPincode"
                        class="input-text"
                        placeholder=""
                        required=""
                      />
                      <small
                        class="text-red-600"
                        *ngIf="
                          addcustomerForm
                            .get('shippingPincode')
                            ?.hasError('pattern') &&
                          addcustomerForm.get('shippingPincode')?.touched
                        "
                        >Invalid PinNumber pattern!</small
                      >
                      <small
                        class="text-red-600"
                        *ngIf="
                          addcustomerForm
                            .get('shippingPincode')
                            ?.hasError('required') &&
                          addcustomerForm.get('shippingPincode')?.touched
                        "
                        >PinNumber is required!</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            type="submit"
            (click)="AddCustomer(addcustomerForm.value)"
            class="mt-4 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-200 sm:mt-6 dark:focus:ring-blue-900"
          >
            Submit
          </button>
        </form>
      </div>
    </section>
  </div>
</section>
